<div *ngIf="restaurante" class="texto"><br>
 <h2>{{ restaurante.nome}}</h2>

 <div class="form-group mx-sm-3">
   <label>Nome:
   <input class="form-control" [(ngModel)]="restaurante.nome" placeholder="nome">
   </label>
 </div>

 <div class="form-group mx-sm-3">
   <label>Preço médio:
   <input class="form-control" [(ngModel)]="restaurante.valor" placeholder="valor" type="number">
   </label>
 </div>

 <div class="form-group mx-sm-3">
   <label>Endereço:
   <input class="form-control" [(ngModel)]="restaurante.endereco" placeholder="endereco">
   </label>
 </div>

 <button id="buttons" class="btn btn-md" (click)="updatedRestaurante()">Atualizar</button>
 <button id="buttonExcluir" class="btn btn-md" (click)="goBack()">Voltar</button>
</div>
