<div *ngIf="restaurante" class="texto">
 <h2>{{ restaurante.nome}}</h2>

 <div>
   <label>Nome:
   <input [(ngModel)]="restaurante.nome" placeholder="nome">
   </label>
 </div>
 <div>
   <label>Preço médio:
   <input [(ngModel)]="restaurante.valor" placeholder="valor" type="number">
   </label>
 </div>
 <div>
   <label>Endereço:
   <input [(ngModel)]="restaurante.endereco" placeholder="endereco">
   </label>
 </div>
 <button id="buttons" class="btn btn-light-blue btn-md" (click)="goBack()">Voltar</button>
</div>
