
<div class="texto">
  <br>

  <h1>Adicionar Restaurante</h1>
    <div *ngIf="currentUpload">
      <div class="progress">
        <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
      </div>
      Progresso: {{currentUpload?.name}} | {{currentUpload?.progress}}% Completo
    </div>

    <div class="form-group mx-sm-3">
      <label>Nome:
      <input class="form-control" [(ngModel)]="restaurante.nome" placeholder="Nome">
      </label>
    </div>

    <div class="form-group mx-sm-3">
      <label>Endereco:
      <input class="form-control" [(ngModel)]="restaurante.endereco" placeholder="Endereco">
      </label>
    </div>

    <div class="form-group mx-sm-3">
      <label>Preço médio:
      <input type="number" class="form-control" [(ngModel)]="restaurante.valor" placeholder="Valor">
      </label>
    </div>
    <div class="form-group mx-sm-3">
      <label>Imagem:
      <input type="file" class="form-control" [(ngModel)]="restaurante.imagem" (change)="detectFiles($event)">
      </label>
    </div>

</div>
<button id="buttons" class="btn btn-md" (click)="add()">Salvar</button>
<button id="buttonExcluir" class="btn btn-md bg-alert" (click)="voltar()">Cancelar</button>
<br>
